<h1>Add New Campground</h1>

<form action="/campgrounds" method="post">
    <input type="text" name="name" placeholder="Campground name..." required>
    <input type="text" name="image" placeholder="Campground image..." required>
    <input type="submit" value="Add New Campground">
</form>

<a href="/campgrounds">Go Back</a>